body {
    font-family: Arial, sans-serif;
    background-color: #dfd9d8;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    margin: 0;
}

h1 {
    color: #64242f;
    font-weight: 700;
    font-size: 60px;
    margin: 0 0 10px 0;
}

p {
    font-size: 20px;
    line-height: 1.5;
    margin: 0 0 20px 0;
    max-width: 500px;
    color: #333;
}

button {
    background-color: #b44446;
    color: white;
    padding: 12px 28px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover {
    background-color: #fc8f8f;
    transform: translateY(-2px);
}

.logo {
    width: 220px;
    height: auto;
    margin-bottom: 10px;
}