body {
    font-family: Georgia;
    background-color: #dfd9d8;
    text-align: center;
}

h1 {
    color: #64242f;
}

button {
    background-color: #b44446;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
}

button:hover {
    background-color: #fc8f8f;
}
