<!DOCTYPE html>
<html>
<head>
    <title>The Hub</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/index.css">

    <style>
        .home-buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }
    </style>
</head>

<body>
    <img src="/static/logo.png" alt="The Hub Logo" width="200" class="logo">

    <p>
        Stay organized. Study smarter.<br>
        A simple hub to manage your assignments and time.
    </p>

    <div class="home-buttons">
        <a href="/assignments">
            <button>Assignments</button>
        </a>

        <a href="/internships">
            <button>Internships</button>
        </a>
    </div>
</body>
</html>